{% extends 'base.html' %}

{% block head %}
	<title>Home</title>
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
		   		Home
		  	</a>
		</nav>
	</header>
	<div class="container">
		<div class="jumbotron">
	  		<h1 class="display-4">Application</h1>
	  		<p class="lead">This is a simple web application, built using a Flask framerwork.</p>
	  		<hr class="my-4">
	  		<p>Description</p>
	  		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
	</div>
{% endblock %}